#calculator {
  max-width: 200px;
  min-width: 200px;
}

.row {
  display: flex;
  min-height: 50px;
}

.row button {
  min-width: 25%;
}

#formfield {
  width: 75%;
}

#equalsSign {
  width: 25%;
}



